.card-overview-container {
  display: flex;
  gap: 10px;
}

.card-overview-image {
  width: 20vw;
  height: 200px;
}

.card-overview-detailed-container {
  width: 300px;
}

.card-overview-title {
  font-size: 24px;
}
