.dropzone-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.container > p {
  font-size: 1rem;
}

.container > em {
  font-size: 0.8rem;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

.dropzone-file-container {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;

  > div:first-child {
    flex: 5;
  }

  > Button {
    flex: 1;
  }
}

.preview-image {
  width: 100%;
}
