// main colors
$primary-color: #D4BFBB;
$primary-light-color: #EDD5D0;
$primary-dark-color: #BAA79A;
$secondary-color: #DDB651;
$secondary-light-color: #FBCC54;
$secondary-dark-color: #C4A248;
$accent-color: #79D8CC;
$accent-light-color: #88F2E6;
$accent-dark-color: #6CBFB5;

// grey colors
$grey-light-color: #E0E0E0;
$grey-medium-light-color: #BDBDBD;
$grey-color: #828282;
$grey-medium-dark-color: #4F4F4F;
$grey-dark-color: #333333;


// brown colors
$brown-color: #373130;
$brown-medium-color: #766867;
$brown-light-color: #AB9491;

$white-color: #F6F6F6;
