@import 'src/app/assets/style/_color.scss';
@import 'src/app/assets/style/_media-query.scss';

.separator {
  display: flex;
  align-items: center;
  margin: 30px 30px 0;
}

.separator-text {
  padding-right: 10px;
  font-size: 24px;
  font-weight: 500;

  @include media('<=mobile') {
    font-size: 18px;
  }
}

.separator-line {
  flex-grow: 1;
  border-top: 1px solid $grey-medium-dark-color;
}
