@import 'src/app/assets/style/_color.scss';
@import 'src/app/assets/style/_media-query.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;

  @include media('<=mobile') {
    margin: 25px 10px;
  }
}

.contact-details-container {
  display: flex;
  margin: 10px 0;
  color: $grey-medium-dark-color;
  font-size: 18px;

  .contact-text {
    margin-left: 10px;
  }
}

.hours-container {
  background-color: $pink-color;
  padding: 5px 0;

  .hours-details-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
  }
}
