@import 'src/app/assets/style/_color.scss';

.card-container {
  position: relative;
}

.card-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
  height: 200px;
}

.card-title {
  font-family: 'Source Sans 3';
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.error {
  color: $red-color;
}
