.product-container-main {
  display: flex;
}

.product-details-container {
  flex-direction: column;

  .product-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.font-bold {
  font-weight: $font-bold-600;
}

.product-image {
  width: 30%;
}
