.product-container {
  margin: 10px 50px;
}

.product-actions-container {
  display: flex;
  justify-content: space-between;
}

.product-content-container {
  display: flex;
  margin: 20px 0;
  height: 400px;
}

.product-details-container {
  padding: 0 50px;
  flex-grow: 2;
  min-width: 430px;

  .product-name {
    font-size: 18px;
    font-weight: $font-bold-600;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $brown-light-color;
  border-radius: 5px;
}

.product-image {
  width: 80%;
  padding: 0 20px;
}
