.content-container {
  margin: 0 140px;

  @include media('<=mobile') {
    margin: 0;
  }
}

.back-button {
  display: flex;
  align-items: center;
  color: $grey-color;
  margin-bottom: 10px;

  @include media('<=mobile') {
    margin-left: 20px;
  }
}
