@import 'src/app/assets/style/_color.scss';

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  &.left {
    justify-content: flex-start;
    margin: 20px 0;
  }
}

.button-white {
  color: $white-color;
}
