@import 'src/app/assets/style/_color.scss';
@import 'src/app/assets/style/_media-query.scss';

.navbar {
  padding-top: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;

  @include media('<=mobile') {
    padding: 10px 0;
    z-index: 1020;
  }
}

.navbar-container {
  display: flex;
  width: 100%;
  background-color: #fff;

  @include media('>mobile') {
    justify-content: flex-end;
    padding: 15px 15px 0 0;
    margin-bottom: 5px;
  }

  @include media('<=mobile') {
    flex-direction: column;
    gap: 5px;
  }
}

.navbar-list-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
  color: $grey-color;
}

.navbar-link {
  color: $grey-color;
}

.navbar-link.active {
  color: $secondary-color;
}
