@import 'button';
@import 'color';
@import 'fonts';
@import 'icon';
@import 'media-query';

@import 'carousel';
@import 'dropzone';
@import 'navbar';

//routes
@import 'routes/all-services';
@import 'routes/contact';
@import 'routes/service';

:root {
  font-family: 'Source Sans 3';
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);

  --mobile-font-size: 16px;
  --desktop-font-size: 24px;
}

.page {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;

  @include media('<=mobile') {
    width: 100%;
  }
}

.link-no-decoration {
  text-decoration: none;
}
