@import 'src/assets/style/_color.scss';

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.navbar-list {
  position: relative;
  left: 75%;
}

.navbar-list-item {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;
  color: $grey-color;
}
