.carousel-container {
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

.image-container {
  height: 300px;
}

.image {
  opacity: 50%;
}

.text {
  font-family: 'Source Sans 3';
  position: fixed;
  top: 0;
  width: 80%;
  color: white;
  text-align: left;
  padding-left: 20px;

  &--large {
    font-size: 50px;
    line-height: 1;
    margin: 20px 0;
  }

  &--small {
    font-size: 20px;
    margin: 10px 0;
  }
}