@import 'src/app/assets/style/_color.scss';

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.additional-details-container {
  margin: 20px 0;
  max-height: 400px;
  overflow: auto;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card-detailed-container {
  background-color: #ede0df;
  color: $grey-color;
  padding: 20px 25px;
  margin-bottom: 10px;
}

.card-detailed-title {
  font-size: 24px;
  font-weight: 500;
}

.card-detailed-description {
  margin: 10px 0;
  height: 200px;
}

.card-details-item {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 5px;
}
