@import './app/assets/style/_color.scss';

:root {
  font-family: 'Source Sans 3';
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);

  --mobile-font-size: 16px;
  --desktop-font-size: 24px;
}
