.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  &.left {
    justify-content: flex-start;
    margin: 20px 0;
  }

  &.bottom {
    position: relative;
  }
}

.button-white {
  color: $white-color;
}

.button-plain {
  border: none;
  background: none;

  &.underline {
    text-decoration: underline;
  }
}

.button-back {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
