// main colors
$primary-color: #d4bfbb;
$primary-light-color: #f1e7e3;
$primary-dark-color: #baa79a;
$secondary-color: #ddb651;
$secondary-light-color: #f6db98;
$secondary-dark-color: #c4a248;
$accent-color: #79d8cc;
$accent-light-color: #88f2e6;
$accent-dark-color: #6cbfb5;

// background colors
$pink-color: #ede0df;

// grey colors
$grey-light-color: #e0e0e0;
$grey-medium-light-color: #bdbdbd;
$grey-color: #828282;
$grey-medium-dark-color: #4f4f4f;
$grey-dark-color: #333333;

// brown colors
$brown-color: #373130;
$brown-medium-color: #766867;
$brown-light-color: #d4cbc9;

// icon colors
$red-color: #dc3444;

// notification colors
$notice-error-color: #de4242;

$white-color: #f6f6f6;
