.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .trash-icon {
    color: $red-color;
    transition: transform 0.3s ease-in-out;
  }

  .trash-icon:hover {
    transform: scale(1.2);
  }
}

.back-button-icon {
  color: $grey-color;
}

.account-avatar-icon-container {
  display: flex;
  align-items: center;

  @include media('<=mobile') {
    gap: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: $grey-color 1px solid;
  }
}
