.tabs-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: #bdbdbd 1.5px solid;
  padding-top: 20px;
}

.tab-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1200px;
  margin-bottom: 20px;
}

.list-item-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  border: $grey-medium-light-color 1px solid;
  border-radius: 5px;
  margin: 50px 200px;
  background-color: $secondary-light-color;
}

.list-item-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: relative;

  .buttons-container-fixed {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 10px;
    padding: 10px;
  }
}

.service-item-container {
  display: flex;
  flex-direction: column;
}

.item-image-container {
  position: relative;

  .item-title {
    position: absolute;
    left: 10px;
    font-size: 24px;
  }

  .item-image {
    width: 20vw;
    height: 200px;
  }
}
